* {
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  border: 3px solid black;
}

#navbar {
  position: fixed;
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}




@media (min-width: 700px) {
  section {
    border: 3px dashed green;
  }
}